body{
    margin: 0;
    background-color: #EFF1F5;
}

@font-face {
    font-family: 'crimson_textregular';
    src: url('../fonts/crimsontext-regular.woff2') format('woff2'),
         url('../fonts/crimsontext-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Home page*/

.home-page, .all-news-page{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

    /*Title part of the page*/

.head{
    width: 100%;
    position: relative;
}

.bg-head, .section-monthly-hike img{
    width:100%;
    height: 100%;
    display:block;
    object-fit: cover;
    min-height: 250px;
}

            /*header*/

.header{
    position:absolute;
    padding: 3% 6%;
    top:0;
    left:0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.list-links{
    padding: 0;
    margin:0;
    list-style-type: none;
}

.list-item{
    padding:0;
    margin:0;
    display:inline-block;
}

.link-header, .news-article h2, .hike-article h2{
    font-size: 1.125rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right:1.67em; 
}

.link-header_active{
    color:#0F2C30;
}

.page-post .link-header:hover{
    border-bottom: solid 1px white;
    color:white;
}

.link-header:hover{
    color:#0F2C30;
}

.link-header:active, .page-post .link-header:active{
    color:#317379;
}

.header-nav{
    display: flex;
    align-items:center;
}

#menu-toggle{
    display:none;
}

.list-links .list-item:last-child .link-header{
    margin-right:0;  
}

.logo{
    width:6rem;
}

            /*The main title of the entire page*/


.title{
    margin:0;
    width: auto;
    font-family: 'crimson_textregular';
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 5px;
    color:white;
}

.title a{
    color:white;
    text-decoration: none;
    -webkit-transition: letter-spacing 0.5s ease-out;
    -o-transition: letter-spacing 0.5s ease-out; 
    transition: letter-spacing 0.5s ease-out;
}

.title a:hover{
    letter-spacing: 7px;
}

.title a:active{
    font-size:3.9rem;
}

.subtitle{
    font-size: 1.25rem;
    margin: 1em 0;
    color:#0F2C30; 
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    width: auto;
    text-transform: uppercase;
}

.head-title .subtitle::before{
    display: block;
    content:"";
    width: 2.8em;
    height: 2px;
    background-color:#0F2C30;
    position: absolute;
    top:77%;
    left:1%;
}


.head-title .subtitle::after{
    display: block;
    content:"";
    width: 2.8em;
    height: 2px;
    background-color:#0F2C30;
    position: absolute;
    top:77%;
    right:1%;
}

.head-title{
    position: absolute;
    top:33%;
    left:50%;
    -webkit-transform: translate(-50%, 0);    
    -o-transform: translate(-50%, 0);    
    -moz-transform: translate(-50%, 0); 
    transform: translate(-50%, 0);
    text-align: center;
}

.head-title-center{
    top:50%;
    -webkit-transform: translate(-50%, -50%);    
    -o-transform: translate(-50%, -50%);    
    -moz-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

            /*Btn on the title part of the page*/

.head form{
    position:absolute;
    top:67%;
    left:50%;
    -webkit-transform: translate(-50%, 0);    
    -o-transform: translate(-50%, 0);    
    -moz-transform: translate(-50%, 0); 
    transform: translate(-50%, 0);
}

.transparent-btn{
    color:white; 
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size:1.125rem;
    letter-spacing: 2px;
    background-color:transparent;
    border: solid 2px rgba(255, 255, 255, 0.4);
    padding:0.3em 5.5em;
    position:relative;
}

.transparent-btn::before,
.transparent-btn::after{
    content: "";
    position:absolute;
    width:0;
    height:0;
    opacity:0;
    box-sizing:border-box;
}

.transparent-btn::after{
    top:0;
    right:0;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    -webkit-transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
    -o-transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
    transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}

.transparent-btn::before{
    bottom:0;
    left:0;
    border-left: solid 2px white;
    border-top: solid 2px white;
    -webkit-transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
    -o-transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
    transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}

.form-comment .transparent-btn::after{
    border-right: solid 2px #0F2C30;
    border-bottom: solid 2px #0F2C30;
}

.form-comment .transparent-btn::before{
    border-left: solid 2px #0F2C30;
    border-top: solid 2px #0F2C30;
}

.transparent-btn:hover::before,
.transparent-btn:hover::after{
    height:100%;
    width:100%;
    opacity:1;
}

.transparent-btn:hover::before{
    -webkit-transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
    -o-transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
    transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}

.transparent-btn:hover::after{
    -webkit-transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
    -o-transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
    transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}

.transparent-btn:hover{
    background-color:rgba(255, 255, 255, 0.1);
}

.transparent-btn:active{
    font-size:1.1rem;
}


    /*Recommended news section*/

.section-featured-news{
    margin: 6.9% 6% 0;
    display: grid;
    grid-template-columns:repeat(4,23.1%);
    grid-gap: 3vw 2.5%;
}

            /*Section name + button for viewing all news*/

.section-name{
    grid-column:1/span 2;
}

.section-name a{
    text-decoration: none;
    color:#0F2C30;
    position:relative;
} 

.section-name a:hover, .see-all a:hover, .category-article a:hover{
    color:rgb(9, 67, 82); 
}

.section-name a::before,
.section-name a::after,
.see-all a::before,
.see-all a::after,
.category-article a::before,
.category-article a::after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:1px;
    width:0;
    background: rgb(9, 67, 82);
    margin:-0.4rem 0;
}

.section-name a::after,
.see-all a::after,
.category-article a::after{
    left:0;
    bottom:0;
    right:auto;
    top:auto;
}

.section-name a:hover:before,
.section-name a:hover:after,
.see-all a:hover:before,
.see-all a:hover:after,
.category-article a:hover:before,
.category-article a:hover:after{
    width:100%;
    -webkit-transition: 800ms ease all;
    -o-transition: 800ms ease all;
    transition: 800ms ease all;
}

.section-name a:active, .category-article a:active{
    font-size:1.2rem; 
}

.see-all a:active{
    font-size:1.05rem; 
}

.see-all{
    margin:0;
    grid-column:3/span 2;
    place-self: center end;
}

.see-all a{
    text-decoration: none;
    color:#0F2C30;
    letter-spacing: 2px;
    font-family: 'crimson_textregular';
    font-weight: 600;
    text-transform: uppercase;
    font-size:1.125rem;
    position:relative;
}

            /*News block*/

.featured-news{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-between
}

.adaptive-image{
    display: block;
    width:100%;
    object-fit: cover;
}

.featured-news img{
    height:20.1vw;
}

.tag-category{
    display:inline-block;
    background-color:#317379;
    text-decoration:none;
    color:white;
    margin-left:7%;
    -webkit-transform: translateY(-50%);    
    -o-transform: translateY(-50%);    
    -moz-transform: translateY(-50%); 
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: 'crimson_textregular';
    font-size:0.875rem;
    letter-spacing: 2px;
    text-align:center;
    padding: 0.5em 1em;
    position: relative;
    z-index:10;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    overflow: hidden;
}

.tag-category:hover, .btn-reply:hover{
    color:rgb(9, 67, 82);
    outline: solid 1px #317379;
}

.tag-category:active, .btn-reply:active{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    color:rgba(0, 0, 0, 0.8);
    font-weight: 600;
}

.tag-category::after, .btn-reply::after{
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
    background: white;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

.tag-category:hover::after,
.btn-reply:hover::after{
    height: 450%;
}

.tag-category-big{
    padding: 0.5em 1.5em;
}

.news-title{
    margin:0.5em 0 0 7%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1rem;
    line-height:1.2rem;
    letter-spacing: 1px;
}

.news-title a{
    text-decoration:none;
    color:black;
}

.news-title a:hover{
    color:#317379;
}

.link-to-whole-block::before{
    content:"";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.news-date{
    margin:1em 0 0 7%;
    color:rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size:0.875rem;
    letter-spacing: 1px;
}

    /*News topic selection section*/

.section-category-selection{
    margin: 9% 6% 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:0.5% 4%;
}

.category-nav{
    display: flex;
    align-items:center;
}

.link-category, .link-category-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1rem;
    letter-spacing: 1px;
    color:#808080;
    text-decoration: none;
    margin-right:2.5em; 
    position:relative;
}

.link-category-active{
    color:#0F2C30; 
}

.link-category:hover{
    color:#0F2C30; 
}

.link-category:active{
    color:#317379;

}

.link-category:not(.last-category):before,
.link-category:not(.last-category)::after{
    display:inline-block;
    content:"";
    width:1px;
    height:0.6em;
    background-color:#317379;
    -webkit-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);   
    -o-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);   
    -moz-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0); 
    transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);
    -webkit-transform:rotate(25deg);   
    -o-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform:rotate(25deg);
    position: absolute;
    top:30%;
    left:4em;
}

.link-category:not(.last-category)::after{
    left:4.2em;
}

.list-links .list-item:nth-child(2) .link-category::before{
    left:8.8em;
}


.list-links .list-item:nth-child(2) .link-category::after{
    left:9em;
}

.list-links .list-item:nth-child(3) .link-category::before{
    left:6em;
}


.list-links .list-item:nth-child(3) .link-category::after{
    left:6.2em;
}

.list-links .list-item:nth-child(4) .link-category::before{
    left:8.7em;
}


.list-links .list-item:nth-child(4) .link-category::after{
    left:8.9em;
}

.list-links .list-item:last-child .link-category{
    margin-right:0;  
}

    /*News section according to the selected topic*/

.selected-news{
    margin: 3.2% 6% 0;
}

.section-category{
    display: none;
}

.section-category-active{
    display: grid;
    grid-template-columns:40% 57%;
    grid-column-gap: 3%;
}

            /*"big" news*/

.big-news-category{
    background:url(../images/hotnews-sport-big.jpg) 0 0 no-repeat;
    background-size: cover;
    display: flex;
    align-items:flex-end;
    position:relative;
}

.big-news-category_announcement{
    background:url(../images/hotnews-announcement-big.jpg) 0 0 no-repeat;
    background-size: cover;
}

.big-news-category_incidents{
    background:url(../images/hotnews-incidents-big.jpg) 0 90% no-repeat;
    background-size: cover;
}

.big-news-category_entertainment{
    background:url(../images/hotnews-entertainment-big.jpg) 0 20% no-repeat;
    background-size: cover;
}

.big-news-category_travel{
    background:url(../images/hotnews-travel-big.jpg) 0 0 no-repeat;
    background-size: cover;
}

.big-news-title{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 0 8% 5%;
}

.big-news-title a{
    color:white;
    text-decoration: none;
}

.big-news-title a:hover{
    border-bottom:solid 1px white;
}

            /*Block-subsection Hot news*/

.news-category{
    display: grid;
    padding:2.6% 5.6% 7%;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 4% 4%; 
    background-color: white;
}

.news-category .see-all{
    grid-column:3/4;
}


            /*Block-news*/

.hot-news{
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.hot-news img{
    height:12.6vw;
}

.hot-news .news-title{
    margin:1.1em 0 0;
    font-size:0.875rem;
}

.hot-news .news-date{
    margin:0.7em 0 0;
}

    /*Video section*/

.video{
    margin:8rem 6% 0;
}



.blog-gallery-search{
    margin: 6.9% 6% 0;
    display:grid;
    grid-template: 30.3vw 15% 1fr/1fr 40%;
    grid-column-gap: 5.2%;
}

   /*Blog section*/

.section-blog{
    grid-row:1/span 3;
    grid-column: 1/2;
    display:grid;
    grid-template-columns: 44% 56%;
    grid-row-gap: 2.1vw;
}

.section-blog .see-all{
    grid-column: 2/3;
}

.section-blog .section-name{
    grid-column: 1/2;
}

            /*Blog-news*/

.blog-post{
    grid-column:1/3;
    display:grid;
    grid-template-columns: 41.5% 56%;
    grid-column-gap: 2.5%;
    position:relative;
}

.img-and-tag{
    grid-row:1/span 3;
    position:relative;
}

.img-and-tag .tag-category{
    position:absolute;
    top:6.1%;
    right:4.3%;
    -webkit-transform: none;    
    -o-transform: none; 
    -moz-transform: none;    
    transform: none;    
    margin:0;
}

.img-and-tag img{
    height: 100%;
}

.news-title-big{
    margin:0;
    font-size: 1.25rem;
}

.blog-post .news-date{
    margin:1em 0 0;
    align-self:end;
}

.text-news{
    margin:1em 0 0;
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    letter-spacing: 1px;
    color:rgba(0, 0, 0, 0.9);
}

   /*Gallery section*/

.section-gallery{
    grid-row:1/2;
    grid-column: 2/3;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:2.5%;
    grid-row-gap:2vw;
}

.section-gallery img{
    height:11vw;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.section-gallery img:hover{
    -webkit-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    transform:scale(1.5,1.5);
}

.section-gallery .see-all{
    grid-column: 3/4;
}

.section-gallery .section-name{
    grid-column: 1/span 2;
}

   /*Search section*/

.section-search{
    grid-row:3/4;
    grid-column: 2/3;
    background-color: #0F2C30;
    padding:0 9.7%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section-search .section-name{
    color:white;
}

.search-field{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}

.search-field .transparent-btn{
    padding:0.3em 1.5em;
}

.search-field input{
    width:65%;
    margin-right: 0.5em;
    font-size: 1.25rem;
    color:white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border:none;
    border-bottom: solid 2px white;
    background-color: transparent;
   
}

.search-field input:focus{
    outline: none;
}

   /*Section of the monthly hike*/

.section-monthly-hike div{
    display: flex;
    justify-content: space-between;
    margin: 6.9% 6% 3%;
}

   /*footer*/

footer{
    grid-row:3/4;
    padding:0 6%;
    display: grid;
    grid-template: 4em 10em 4em/ repeat(3, auto);
    justify-content: space-between;
    background-color: #28353A;
}

.footer-navigation, .footer-about, .footer-newsletter{
    grid-row:2/3;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.footer-title{
    font-size:1.125rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color:white;
    text-align: center;
    margin: 1em 0;
    position:relative;
    margin:0;
}

.footer-title::before,
.footer-title::after{
    display: block;
    content:"";
    width: 2em;
    height: 2px;
    background-color:white;
    position: absolute;
    top:50%;
    left:0;
}

.footer-title::after{
    left:inherit;
    right:0;
}

.navigation-bar-footer{
    margin-bottom: 0.5em;
}

.footer-text, .navigation-bar-footer a{
    margin:0 0 0.5em;
    color:white;
    font-size:1rem;
    font-family: 'crimson_textregular';
    letter-spacing: 1px;
}

.second-line{
    margin:0;
}

.navigation-bar-footer a, .footer-text a{
    text-decoration:none;
}

.footer-text a{
    color:white; 
}

.footer-text a:hover, .navigation-bar-footer a:hover{
    text-decoration:underline; 
}

.footer-text a:active, .navigation-bar-footer a:active{
    color:#387e85; 
}

.navigation-bar-footer a:first-child{
    margin-right:2em;
    position:relative;
}

.navigation-bar-footer a:first-child::before,
.navigation-bar-footer a:first-child::after{
    display:inline-block;
    content:"";
    width:1px;
    height:0.5em;
    background-color:white;
    -webkit-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);   
    -o-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);   
    -moz-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0); 
    transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);
    -webkit-transform:rotate(25deg);   
    -o-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform:rotate(25deg);
    position: absolute;
    top:40%;
    left:115%;
}

.navigation-bar-footer a:first-child::after{
    left:119%;
}

.second-line a:first-child::before{
    left:130%;
}

.second-line a:first-child::after{
    left:136%;
}

.field-newsletter input{
    width:100%;
    color:white;
    font-size:1.125rem;
    font-family: 'crimson_textregular';
    border:none;
    border-bottom: solid 1px #899294;
    letter-spacing: 1px;
    background-color: transparent;
}

.field-newsletter input:focus{
    outline:none;
}

.footer-newsletter .transparent-btn{
    padding:0.3em 3.2em;
}


/*Page About*/

.page-about{
    display: grid;
    grid-template: auto 4em 1fr 12em auto/ 13.2% 1fr 13.2%;
    min-height:100vh;
}

.main-about{
    grid-column:2/3;
    grid-row:2/4;
    background-color:white;
    z-index: 100;
    padding:0 8.5% 10%;
}

.head-page-about{
    grid-column:1/-1;
    grid-row:1/3;
}

.footer-page-about{
    grid-column:1/-1;
    grid-row:5/6;
}

    /*Selecting a section, Team/Mission*/

.about-nav{
    padding: 3em 0;
}

.about-nav .list-links .list-item:first-child{
    margin-right: 14.2%;
}

.about-nav .list-links{
    text-align: center;
    position:relative
}

.link-about-nav{
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color:#808080;
    text-decoration: none;
    text-transform: uppercase;
}

.link-about-nav_active{
    color:#0F2C30;
}

.about-nav .list-links .list-item:first-child::before,
.about-nav .list-links .list-item:first-child::after{
    display:inline-block;
    content:"";
    width:1px;
    height:1.2em;
    background-color:#317379;
    -webkit-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);   
    -o-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);   
    -moz-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0); 
    transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);
    -webkit-transform:rotate(25deg);   
    -o-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform:rotate(25deg);
    position: absolute;
    top:15%;
    left:47%;
}

.about-nav .list-links .list-item:first-child::after{
    left:48%;
}

    /*main section*/

.section-about{
    margin-top: 3em;
}

.our-mission{
    background-color:white;
    display:none;
}

.our-team{
    background-color:white;
    padding-bottom:3em;
    display:none;
}

.show-block{
    display:block;
}

.name-team-member, .our-mission-description h3{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 0;
}

.our-mission-description h3{
    margin: 0 0 1em;
}

.team-member-description > p, .our-mission-description p{
    margin:0;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    line-height:1.2rem;
    letter-spacing: 1px;
}

.tag-profession{
    margin: 1em 0;
    width:27%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:#317379;
    color:white;
    font-size:0.875rem;
    letter-spacing: 2px;
    text-align:center;
    padding: 0.4em 1.2em;
}

.tag-profession p{
    font-family: 'crimson_textregular';
    display:inline-block;
    margin:0;
}

.team-member, .mission{
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 25% auto;
    grid-column-gap: 3%;
}

.team-member img, .mission img{
    height:15vw;
}



/*All site news page*/

    /*The main part of the page*/

.head .all-news-search{
    top:55%;
    width:40%;
}

.all-news-search input{
    width:70%;
}

.all-news-search .transparent-btn {
    padding: 0.3em 2em;
}

    /*News section*/

.main-all-news{
    padding: 9.6% 6% 13.9%;
    display: grid;
    grid-template-columns: 67% 30%;
    grid-column-gap: 3%;
}

.main-all-news section{
    grid-row: 1/3;
}

.all-news-post{
    display:grid;
    grid-template: repeat(3, auto)/ 32% 60% 3%;
    grid-column-gap: 2.5%;
    margin-bottom:3em;
    position:relative;
}

.all-news-post .img-and-tag{
    grid-row: 1/-1;
    grid-column: 1/2;
}

.all-news-post .text-news{
    grid-row: 2/3;
    grid-column: 2/3;
    display:flex;
    align-items:center;
}

.all-news-post .news-title-big{
    display:flex;
    align-items:flex-start;
    margin:0;
}

.all-news-post .news-date{
    grid-row: 3/4;
    grid-column: 2/3;
    margin: 1em 0 0;
    display:flex;
    align-items:flex-end;
}

.all-news-read{
    display: flex;
    justify-content: center;
    align-items:center;
    color:#0F2C30;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-left: solid 1px #0F2C30;
    grid-row: 2/3;
    grid-column: 3/4;
    -webkit-transition: letter-spacing 0.2s ease-in-out;
    -o-transition: letter-spacing 0.2s ease-in-out;
    transition: letter-spacing 0.2s ease-in-out;
    position:relative;
    z-index:100;
}

.all-news-read:hover{
    letter-spacing: 5px;
}

.all-news-read:active{
    font-size:1rem;
}

.pagination{
    display: flex;
    justify-content: space-between;
    margin-top:8em;
}

.pagination .pagination-disabled{ 
    color: #78797B;
    pointer-events: none;
}

    /*News categories section*/

.all-news-category{
    background-color:white;
    padding:2.5em 3.1em;
    grid-row:1/2;
    grid-column:2/3;
}

.all-news-category .category-nav{
    display: block;
}

.all-news-category .list-item{
    display: block;
    position:relative;
    padding-left:1.5em;
    margin-top:1em;
}

.all-news-category .list-item::before,
.all-news-category .list-item::after{
    display:inline-block;
    content:"";
    width:1px;
    height:0.8em;
    background-color:#317379;
    -webkit-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);   
    -o-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);   
    -moz-transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0); 
    transform: matrix(-0.45, 0.9, -0.9, -0.5, 0, 0);
    -webkit-transform:rotate(25deg);   
    -o-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform:rotate(25deg);
    position: absolute;
    top:26%;
    left:0.5em;
}

.all-news-category .list-item::after{
    left:0.8em;
}

.link-category-2{
   color: rgb(42, 42, 42);
   font-size: 1.25rem;
}

.link-category-2:hover, .hashtags-article a:hover{
    color:#317379;
}

.link-category-2:active{
    font-size: 1.2rem;
}

.hashtags-article a:active{
    font-size: 0.9rem;
}


    /*Recommended news section*/

.all-news-featured{
    background-color: white;
    grid-row: 2/3;
    grid-column: 2/3;
    padding:0 3.1em 4em;
}

.all-news-featured img{
    height:17vw;
}

.all-news-featured .featured-news{
    margin-top:1.5em;
}



/*Page Post*/

.page-post{
    display:grid;
    grid-template: auto 8rem repeat(7, auto) / 1fr;
    min-height:100vh;
}

    /*Title part of the page*/

.head-page-post{
    grid-row: 1/3;
    grid-column: 1/2;
}

.head-page-post .header{
    position:static;
    background-color: #28353A;
}

            /*Photo news with the inscription*/

.photo-post-news{
    padding: 1rem 6% 8rem;
    background-color: #28353A;
    position:relative;
    z-index:-100;
}

.description-photo-post-news{
    position: absolute;
    bottom:10.5rem;
    left:11%;
}

.info-photo-post-news{
    color:white;
    margin:0;
    font-family: 'crimson_textregular';
    font-weight: 500;
    font-size: 1.25rem;
    margin-right: 2rem;
    display:inline-block;
}

    /*Title part of the page*/

.main-page-post{
    padding-bottom:3.1rem;
    margin: 0 6%;
    border-bottom: solid 1px #0F2C30;
    display:grid;
    grid-template-columns: 20% 72.5%;
    grid-column-gap: 7.5%;
    grid-row: 2/4;
    grid-column: 1/2;
    z-index:1000;
}

    /*Section Article*/

.news-article h2{
    margin:1.8em 0 4.2em;
    font-size: 1.56rem;
    font-weight: 700;
}


.post-page-subheadings,.category-article,
.author-article h3,.comment-user-name, .hike-article h3{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size:1.25rem;
    line-height:1.5rem;
    letter-spacing:1px;
    color: rgba(0, 0, 0, 0.9);
}

.news-article p, .hashtags-article p, .author-article p,
.comment > p, .form-user-info, .hike-article p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:1rem;
    line-height:1.5rem;
    letter-spacing:1px;
    color: rgba(0, 0, 0, 0.9);
}

.news-article h3, .hike-article h3{
    margin:1.875em 0;
}

.news-article p:last-of-type, .hike-article p:last-of-type{
    margin-bottom: 0;
}

.aside-article{
    background-color:white;
    padding:2.2rem 0;  
}

.quote{
    padding:1.875em;
    border-left: solid #317379;
}

    /*Topic section + hashtags*/

.category-article{
    margin-bottom:5.5em;
    text-align: center;
}

.category-article a, .hashtags-article a{
    color: #0F2C30;
    text-decoration: none;
    position:relative;
}

.hashtags-article{
    margin-left:3rem;
}

.hashtags-article p{
    font-weight:500;
}

    /*Section author of the article*/

.author-article{
    margin:7.7rem 6% 0;
    display:grid;
    grid-template: repeat(3,auto)/ 20% 77%;
    grid-column-gap: 3%;
    grid-row: 4/5;
}

.author-article p, .comment > p{
    margin:0;
}

.author-article h3{
    padding-left: 0.8em;
    color: #0F2C30;
    border-left: solid 2px #317379;
    display:flex;
    align-items:center;
}

.author-article img{
    height:17vw;
    grid-column: 1/2;
    grid-row: 1/-1;
}

.author-article p:first-of-type, .comment div{
    display:flex;
    align-items:flex-start;
}

.author-article p:last-of-type, .comment > p{
    display:flex;
    align-items:flex-end;
}

    /*Comments section*/

.comments{
    margin:6.1rem 6% 0;
    grid-row: 5/6;
}
    
.comment{
    display:grid;
    grid-template: repeat(4,auto)/ 12% 84%;
    grid-column-gap: 3%;
}

.comment img{
    height:10.5vw;
    grid-column: 1/2;
    grid-row: 1/-1;
}

.comment-user-name{
    margin:0 1em 0.5em 0;
    display: inline-block;
}

.comment .form-comment{
    margin: 1rem 0 3rem;
}

.comment .form-comment .transparent-btn{
    padding:0 2em;
}

.comment-date{
    display: inline-block;
    margin:0;
    font-family: 'crimson_textregular';
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.9);
}

.btn-reply{
    border:none;
    margin: 1rem 0;
    width:15%;
    height:2rem;
    background-color:#317379;
    text-decoration:none;
    color:white;
    text-transform: uppercase;
    font-family: 'crimson_textregular';
    font-size:0.875rem;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    -webkit-transform: translateY(-50%);    
    -o-transform: translateY(-50%);    
    -moz-transform: translateY(-50%); 
    transform: translateY(-50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.comments .subtitle, .leave-comment .subtitle{
    margin-bottom: 3.25rem;
}

.comments .comment:not(last-of-type){
    margin-bottom:2.6rem;
}

    /*Leave a comment section*/

.leave-comment{
    margin:3.1rem 6% 10.75rem;
    grid-row: 6/7;
}

.form-user-info{
    background-color:transparent;
    border:none;
    border-bottom: solid 1px #0F2C30;
    padding: 0.75rem 1rem ;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    width: calc((100% - 1.25rem) / 2);
}

.form-user-info:focus{
    outline: none;
}

.form-comment input:first-of-type{
    margin-right: 1.25rem;
}

.user-message{
    border: solid 1px #0F2C30;
    display: block;
    width:100%;
}

.form-comment .transparent-btn{
    padding:0.3em 3.2em;
    color: #0F2C30;
    border: solid 2px #0f2c302a;
}

.block-hidden{
    display:none;
}

.footer-page-post{
    grid-row: 7/8;
}



/*Monthly hike page*/

.monthly-hike-page{
    display:grid;
    grid-template-rows: auto 1fr repeat(3,auto);
    min-height:100vh;
}

    /*Title part of the page*/

.monthly-hike-page .title{
    font-size:3.6rem;
}

.monthly-hike-page .head .subtitle{
    text-transform: none;
    color:white;
    border-bottom: solid 2px white;
    margin: 0.8em 2em;
    font-size: 1.56rem;
    padding-bottom:0.3em;
}

.monthly-hike-page .subtitle::before,
.monthly-hike-page .subtitle::after{
    display:none;
}

    /*Section describing the direction of the hike*/

.direction-of-hike{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#28353A;
    padding: 6.25rem 6% 6.875rem;
}

.title-hike, .brief-info-hike h4, .hike-guide h4{
    font-size: 1.56rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color:white;
    text-transform: uppercase;
    text-align:center;
    margin: 0 0 1em;
}

.date-hike, .brief-info-hike p, .hike-guide p{
    font-family: 'Roboto', sans-serif;
    font-size:1.25rem;
    letter-spacing: 1px;
    color:white;
    margin:0;
}

    /*Section with a brief description of the hike*/

.description-hike{
    background-color:#28353A;
    padding:0 6% 6.25rem;
    display:grid;
    grid-template-columns: 47% 45%;
    grid-column-gap: 8%;
}

.brief-info-hike div, .hike-guide div{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 0.3rem;
    border-bottom: solid 1px white;
}

.brief-info-hike{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hike-guide div{
    grid-column: 1/-1;
}

.brief-info-hike h4, .hike-guide h4{
    font-size: 1.25rem;
    text-align:left;
    margin:0;
}

.hike-guide{
    display:grid;
    grid-template-columns: repeat(2,45%);
    grid-column-gap:10%;
    grid-row-gap:1.56rem;
}

    /*Article about the hike*/

.hike-article h2{
        margin:0 0 3.125rem;
        font-size: 1.56rem;
        font-weight: 700;
        color:#0F2C30;
}

.hike-article{
    margin:6.25rem 6% 0;
}

.direction-of-hike .transparent-btn{
    width: 23%;
    padding:0.3rem;
}

    /*Section read more*/

.further-reading{
    margin-top: 6.25rem;
    background-color: #0F2C30;
    padding: 4rem 6%;
    display:grid;
    grid-template-columns: 5% repeat(3, 23%);
    grid-column-gap: 5%;
    align-items:center;
}

.title-further-reading{
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 1rem;
    text-transform: uppercase;
    border-right: solid 1px white;
    padding-right: 2em;
}

.further-reading .news-title{
    margin: 2em 0 0;
}

.further-reading .news-title a{
    color:white;
}

.further-reading .news-title a:hover{
    border-bottom: solid 1px white;
}

.further-reading div{
    position:relative;
}

    /*Comments*/

.monthly-hike-page .comments{
    grid-row:3/4; 
}


    /*Leave a comment section*/

.monthly-hike-page .leave-comment{
    grid-row:4/5; 
}

    /*footer*/

.footer-page-monthly-hike{
    grid-row:5/6;
}



@media (min-width:1800px){
   
    html{
        font-size: 20px;
    }
}

@media (max-width:1200px){
    
    html{
        font-size: 14px;
    }
}


@media (max-width:992px){
    
    html{
        font-size: 12px;
    }

/*Home page*/

    .blog-gallery-search{
        grid-template: auto 4vw 7.3vw auto /45% 1fr;
        grid-column-gap: 5%; 
    }

    .section-blog{
        grid-row:1/2;
        grid-column: 1/3;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap:5%;
        grid-row-gap:2vw;
    }

    .section-gallery{
        grid-row:3/5;
        grid-column: 1/2;
    }

    .section-search{
        grid-row:4/5;
        grid-column: 2/3;

    }

    .blog-post{
        grid-column:span 1;
        display:grid;
        grid-template-columns: 1fr;
        position:relative;
    }

    .blog-post img{
        height:30vw;
    }

    .news-title-big{
        margin:1em 0 0;
    }


/*All-news page*/

    .main-all-news{
        grid-template-columns:1fr;
        grid-row-gap: 7em;
    }

    .all-news-featured{
        grid-row: 3/4;
        grid-column: 1/-1;
    }

    .all-news-category{
        grid-row:1/2;
        grid-column:1/-1;
    }

    .main-all-news section{
        grid-row: 2/3;
    }

 
    .all-news-category .list-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .all-news-category .list-item{
        margin:1em 0;
    }

    .link-category-2{
        margin-right:0.7em;
    }

    .all-news-featured{
        padding-top:3em;
        display:grid;
        grid-template-columns: repeat(2, 48%);
        grid-column-gap: 4%;
    }

    .all-news-featured .subtitle{
        grid-column:1/span 2;
    }

    .all-news-featured img{
        height: 33vw;
    }
}


@media (max-width:768px){

    html{
        font-size: 11px;
    }

    .header-nav{
        display:inline-block;
        position:relative;
    }

    .logo{
        align-self:flex-start;
    }

    .menu-btn{
        position:absolute;
        top:5px;
        right:0;
        display:flex;
        align-items:center;
        width:26px;
        height:26px;
        z-index:1;
    }

    .menu-btn span, 
    .menu-btn span::before, 
    .menu-btn span::after{
        display:block;
        position: absolute;
        width:100%;
        height:2px;
        background-color: white;
        -webkit-transition-duration: .25s;
        -o-transition-duration: .25s; 
        transition-duration: .25s;
    }

    .menu-btn > span::before{
        content:" ";
        top:-8px;
    }

    .menu-btn > span::after{
        content:" ";
        top:8px;
    }

    .list-links-burger{
        display:none;
        -webkit-transition-duration: .25s;
        -o-transition-duration: .25s; 
        transition-duration: .25s;
        position:absolute;
        right:0;
        top:40px;
        text-align:right;
    }

    .list-links-burger .list-item{
        display:block;
        -webkit-transition-duration: .25s;
        -o-transition-duration: .25s; 
        transition-duration: .25s;
        padding: 0.3em 0;
    }

    .link-header{
        margin:0;
    }

    #menu-toggle{
        opacity:0;
        display: block;
    }

    #menu-toggle:checked ~ .menu-btn span{
        -webkit-transform:rotate(45deg);   
        -o-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform:rotate(45deg);
    }

    #menu-toggle:checked ~ .menu-btn span::before{
        top:0;
        -webkit-transform:rotate(0);   
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        transform:rotate(0);
    }

    #menu-toggle:checked ~ .menu-btn span::after{
        top:0;
        -webkit-transform:rotate(90deg);   
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform:rotate(90deg);
    }

    #menu-toggle:checked ~ .list-links-burger{
        display: block;
        right:0;
    }

/*Home Page*/

    .head-title .subtitle, .head form{
        display:none;
    }

    .head-title .title{
        font-size:3rem;
    }

    .head-title{
        top:50%;
        -webkit-transform: translate(-50%, -50%);    
        -o-transform: translate(-50%, -50%);    
        -moz-transform: translate(-50%, -50%); 
        transform: translate(-50%, -50%);
    }

    .section-featured-news{
        margin: 6.9% 6% 0;
        display: grid;
        grid-template-columns:repeat(2,48%);
        grid-gap: 5vw 4%;
    }

    .section-featured-news .subtitle{
        margin: 0.5em 0 0.5em;
    }

    .section-featured-news .section-name{
        grid-column:1;
        grid-row:1;
    }

    .section-featured-news .see-all{
        grid-column:2/3;
        grid-row:1;
    }

    .featured-news img{
        height:30vw;
    }

    .section-category-selection{
        flex-direction: column;
        padding:0 2em 2em;
        align-items:center;
    }

    .section-category{
        grid-template: 30vw auto /1fr;
        grid-row-gap: 3vw;
    }

    .hot-news img{
        height:21vw;
    }

    .blog-gallery-search{
        grid-template: repeat(3, auto)/ 1fr;
        grid-row-gap: 5vw; 
    }

    .section-blog{
        grid-row:1/2;
        grid-column: 1/-1;
    }

    .section-gallery{
        grid-row:2/3;
        grid-column: 1/-1;
    }

    .section-search{
        grid-row:3/4;
        grid-column: 1/-1;
        justify-content:flex-start;
    }

    .section-gallery img{
        height: 25vw;
    }

    .section-gallery img:hover{
        -webkit-transform: scale(1.3,1.3);
        -o-transform: scale(1.3,1.3);
        -moz-transform: scale(1.3,1.3);
        transform:scale(1.3,1.3);
    }

    .section-search form{
        padding:5em 0;
        width:100%;
    }

    .search-field input{
        width:75%;
    }

/*Page Post*/

    .page-post .list-links-burger{
        background-color:#28353ad7;
        padding: 5.1rem 4rem;
    }

    .main-page-post{
        grid-template-columns:1fr;
    }

    .aside-article{
        margin-top: 3rem;
        padding: 0 1rem;
        grid-row:2/3;
        display:flex;
        justify-content: space-around;
        align-items:center;
    }

    .category-article{
        margin:0 0 0 2.5rem;
    }

    .hashtags-article{
        margin: 0 2.5rem 0 0;
    }

    .author-article{
        grid-template-columns:30% 1fr;
    }
    
    .author-article img{
        height:25vw;
        grid-column: 1/2;
        grid-row: 1/3;
        width:100%;
    }

    .author-article h3{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .author-article p:first-of-type{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .author-article p:last-of-type{
        grid-column: 1/-1;
        grid-row: 3/4;
        margin-top:2rem;
    }

/*About page*/

    .page-about .list-links-burger{
        background-color:rgba(151, 151, 151, 0.8);
        padding:0 4rem;
        z-index:100;
    }

    .page-about{
        grid-template: auto 2em 1fr 12em auto/ 13.2% 1fr 13.2%;
    }

/*Monthly hike page*/

    .direction-of-hike{
        flex-direction: column;
    }

    .direction-of-hike div{
        margin: 3rem 0;
    }

    .direction-of-hike .transparent-btn{
        width:51%;
        padding:0.5em 0.2em;
    }

    .description-hike{
        grid-template-columns: 1fr;
    }

    .brief-info-hike{
        order: 2;
        margin-top: 6rem;
        height: 20rem;
    }

    .monthly-hike-page .list-links-burger{
        background-color:rgba(151, 151, 151, 0.8);
        padding:1.2rem 4rem;
        z-index:100;
    }

}

@media (max-width:576px){

    footer{
        padding: 6%;
        display: grid;
        grid-template: repeat(3, 10em)/ 60%;
        grid-row-gap: 10vw; 
        justify-content: center;
    }

    .footer-navigation{
        grid-row:3/4;
    }

    .footer-about{
        grid-row:1/2;
    }

    .footer-newsletter{
        grid-row:2/3;
    }

    .footer-title::before,
    .footer-title::after{
        width:22%;
    }

 
/*Home Page*/

    .section-featured-news{
        grid-template-columns: repeat(2,50%);
        grid-gap: 7vw 0;
    }

    .featured-news{
        grid-column:1/-1;
    }

    .featured-news img, .hot-news img{
        height:50vw;
    }

    .section-category{
        grid-template: 50vw auto /1fr;
    }

    .news-category{
        grid-template-columns:repeat(2,50%);
        grid-gap: 4vw 0; 
    }

    .news-category .see-all{
        grid-column:2/3;
    }

    .news-category .section-name{
        grid-column:1/2;
    }

    .hot-news{
        grid-column:1/-1;
    }

    .blog-post{
        grid-column: 1/-1;
    }

    .blog-post img{
        height: 55vw;
    }

    .section-blog{
        grid-row-gap: 4vw;
    }

/*About page*/

    .team-member, .mission{
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }

    .team-member img, .mission img{
        height:40vw;
    }

    .tag-profession{
        width:37%;
    }
    
    .about-nav .list-links .list-item:first-child{
        margin-right: 10%;
    }

    .about-nav .list-links .list-item:first-child::before,
    .about-nav .list-links .list-item:first-child::after{
        display: none;
    }

    .about-nav{
        padding: 3em 0 0;
    }

/*All news page*/

    .all-news-featured img{
        height: 50vw;
    }

    .all-news-read{
        display:none;
    }

    .all-news-post{
        grid-template-columns:1fr;
    }

    .all-news-post .img-and-tag{
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    
    .all-news-post .text-news{
        grid-row: 3/4;
        grid-column: 1/-1;
    }
    
    .all-news-post .news-title-big{
        grid-row: 2/3;
    }
    
    .all-news-post .news-date{
        grid-row: 5/6;
        grid-column: 1/-1;
    }

    .all-news-post img{
        height: 50vw;
    }

    .all-news-post .news-title-big{
        margin-top:1.5em;
    }

/*Page Post*/

    .comment{
        grid-template-columns:20% 77%;
        grid-column-gap: 3%;
    }

    .comment img{
        height:17vw;
    }

    .comment > p{
        grid-column: 1/-1;
        margin-top:1.5rem;
    }

    .btn-reply{
        width:25%;
    }

    .form-user-info{
        display: block;
        margin-bottom: 2rem;
        width: 100%;
    }

    .page-post{
        grid-template: auto 9rem repeat(7, auto) / 1fr;
    }

/*Monthly hike page*/

    .further-reading{
        grid-template-columns: 15% 49%;
        grid-column-gap:10%;
        grid-row-gap:3.5rem;
    }

    .further-reading div{
        grid-column: 2/3;  
    }

    .title-further-reading{
        align-self: start;
        padding-right: 1rem;
    }

    .further-reading img{
        height:40vw;
    }

}